.staking-container {
  border-radius: 20px;

  .form-group {
    position: relative;

    .helptext {
      top: 50%;
      transform: translateY(25%);
    }

    .max-text {
      position: absolute;
      display: inline-block;
      bottom: 50%;
      transform: translateY(50%);
      margin: auto;
      padding: 0;
      right: 60px;
      text-align: center;
      cursor: pointer;
    }
  }
}
