.statistics-container {
    overflow: hidden;

    .green {
        color: #09D1B7;
        font-size: 26px;
    }

    .purple {
        color: #A381F4;
        font-size: 26px;
    }

    .pink {
        color: #DF54FC;
        font-size: 26px;
    }
}